/* *{
  border: 2px solid red;
} */

.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.left-links,
.right-links {
  display: flex;
  flex-grow: 5;
  align-items: center;
}

.left-links {
  justify-content: start;
  gap: 10px;
  padding-left: 0px;
}

.right-links {
  justify-content: end;
  gap: 10px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 10px;
  flex-grow: 1;
  align-content: center;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}